---
# FOR SQLITE (*.sqlite3 files are ignored by git)
#
# :development:
#   :adapter: sqlite3
#   :database: db/development.sqlite3
#
# :test:
#   :adapter: sqlite3
#   :database: db/test.sqlite3


# FOR MYSQL

:development: &defaults
  :adapter: mysql
  :database: merbums_development
  :username: root
  :password: 
  :host: localhost
  :socket: /tmp/mysql.sock
  :encoding: utf8

:test:
  <<: *defaults
  :database: merbums_test

:production:
  <<: *defaults
  :database: merbums_production